doctype html
html(lang='ru', dir='ltr')
  head
    block head
  body
    block header
    block body

    block footer

    block styles

    block scripts
      script(type='text/javascript', src='assets/scripts/common.js')
