extends ../layout/layout.pug
block append head
  title Главная
block append body
  main
    include ../components/BaseComponent/BaseComponent.pug

block append scripts
  script(type='text/javascript', src='assets/scripts/index.js')
